Qlipper                             
lxqt      
pcmanfm-qt              
user-dirs.dirs
gnome-initial-setup-done            
neofetch  
pulse                   
user-dirs.locale
htop                                      
qterminal.org
ibus-mozc-gnome-initial-setup-done  
openbox   
ubuntu-system-settings
featherpad
